.poke-card-big {
    color: white;
    height: 500px;
    width: 280px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-close-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 32px;
}

.btn-close {
    background-color: grey;
    height: 48px;
    width: 48px;
    border-radius: 100%;
    border: 0px solid black;
    cursor: pointer;
    font-size: large;
}

.btn-close:hover {
    background-color: rgb(188, 187, 187);
}

.big-poke-name {
    text-transform: capitalize;
}

.big-poke-type {
    text-transform: capitalize;
}

.big-poke-img {
    height: 120px;
}

.big-stats {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
}

.btn-next-prv {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn {
    background-color: rgba(0, 0, 0, 0.133);
    height: 40px;
    width: 64px;
    margin: 0 24px 0 24px;
    font-size: 32px;
}