.bg-grass {
    background-color: rgb(56, 174, 56);
}

.bg-fire {
    background-color: rgb(201, 66, 66);
}

.bg-water {
    background-color: rgb(69, 69, 193);
}

.bg-bug {
    background-color: yellowgreen;
}

.bg-normal {
    background-color: burlywood;
}

.bg-poison {
    background-color: rgb(224, 87, 167);
}

.bg-electric {
    background-color: rgb(218, 205, 89);
}

.bg-ground {
    background-color: rgb(151, 142, 129);
}

.bg-fairy {
    background-color: rgb(212, 94, 228);
}