* {
    caret-color: transparent;
}

html,
body {
    margin: 0;
}

header {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
}

.main-container {
    background-color: rgb(158, 158, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.my-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.my-button:hover {
    background-color: #45a049;
}

.poke-card {
    padding: 24px;
    margin: 16px;
    width: 160px;
    height: 200px;
    transition: all 0.3s ease;
    border-radius: 16px;
}

.poke-card:hover {
    transform: scale(1.03);
    filter: brightness(1.2);
}

.bg-grass {
    background-color: rgb(38, 129, 38);
}

.bg-fire {
    background-color: rgb(150, 41, 41);
}

.bg-water {
    background-color: rgb(47, 47, 184);
}

.bg-bug {
    background-color: yellowgreen;
}

.bg-normal {
    background-color: burlywood;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(107, 76, 76);
}