* {
    caret-color: transparent;
}

html, body {
    margin: 0;
}

header {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
}

.main-container {
    background-color: rgb(158, 158, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.poke-card {
    padding: 24px;
    margin: 16px;
}

.bg-grass {
    background-color: green;
}

.bg-fire {
    background-color: red;
}

.bg-water {
    background-color: blue;
}

.bg-bug {
    background-color: yellowgreen;
}

.bg-normal {
    background-color: burlywood;
}

footer {
    display: flex;
    justify-content: center;
}