header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: grey;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    width: 250px;
}

.main-container {
    background-color: rgb(158, 158, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.my-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.my-button:hover {
    background-color: #45a049;
}


footer {
    display: flex;
    justify-content: center;
    background-color: rgb(107, 76, 76);
    height: 80px;
    padding: 24px;
    background-color: grey;
}

@media (max-width: 480px) {
    h1 {
        display: none;
    }

    header {
        justify-content: center;
    }
}